/*Background*/
#background {
  width: 100%;
}

#background img {
  min-width: 100%;
  z-index: -1;
  position: fixed;
  top: -100px;
}

/*Main Container */

.container {
  margin: 0 auto;
  width: 100%;
  /*width: 600px;*/
  padding: 20px;
  border: 1px dotted black;
  background-color: white;
  opacity: 0.9;
}

/*Other Stuff */

th {
  text-align: left;
}

