/*Background*/
#background {
  width: 100%;
}

#background img {
  min-width: 100%;
  z-index: -1;
  position: fixed;
  top: -100px;
}


.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}

h1 {
  font-color: green;
  border: 2px solid black;
}

div#main {
  width: 600px;
  border: 1px dotted grey;
}
