<form action="/users/login" method="post">
  <br>
  Name: <input type="text", name="user[name]", value=""><br><br>
  Email (required): <input type="text", name="user[email]", value=""><br><br>
  Password (required): <input type="password", name="user[password]", value=""><br><br>
  Re-enter password: <input type="password", name="reentered_password", value=""><br><br>
  About: <input type="about", name="user[about]", value=""><br><br>
  Birthday: <input type="date", name="user[birthday]", value=""><br><br>
  <input type="submit" value="Create account.">
</form>
