<form class="user-info" action="/users/edit" method="post" enctype="multipart/form-data">
	<input type="hidden" name="_method" value="put">

	Basic Info:
  <input type="text" name="user[name]" value="<%= @user.name %>" placeholder="Name">Name
  <input type="text" name="user[email]" value="<%= @user.email %>" placeholder="Email">Email
  <input type="about" name="user[about]" value="<%= @user.about %>" placeholder="About">About
  Birthday: <input type="date" name="user[birthday]" value="<%= @user.birthday %>">Birthday
  Profile picture: <input type="file" name="filename">
  
  <input type="submit" value="Edit Details">
</form>