<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= 'FS-Momentum | ' + @title if @title %></title>
  <!-- 
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <header>
    <div id="header-background"></div> 
    <div id="header-text">
      <div id="title">
        <h1><a href="/">FS-Momentum</a></h1>
      </div>

      <div id="user">
        <%= current_user.email if current_user %>
      </div>
    </div>
  </header>

  <div id="background"><img src="/../images/winter.jpg"></div>
  
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
